
// Variables

$mobile: "handheld and (max-width: 330px)"

// MIXINS

$width-small: 360px // galaxy note 3
$width-large: 1200px // desktop
@mixin responsive($width) 
  @if $width == wide-screens 
    @media only screen and (max-width: $width-large)
      @content
  @else if $width == small-screens 
    @media only screen and (max-width: $width-small)
      @content

// layout

#wrapper
  margin-right: auto
  margin-left: auto
  width: 96%
  max-width: 1414px

header
  width: 97.9166667%
  margin-left: 1.1%
  margin-right: 1.1%

.logo
  background-color: black
  margin: 0em
  vertical-align: text-bottom
  padding: 0.125em
  font-size: 4em
  color: white
  font-family: Arial, "Lucida Grande", Verdana, sans-serif
  text-transform: uppercase
  @include responsive(small-screens)
    font-size: 2em
    text-align: center


#hnav
  padding: 0 1.0416667% .1% // 10  960
  width: 97.9166667% // 940  960
  border-bottom:
    color: #bfbfbf
    style: double
  border-bottom-width: 4px
  background-color: grey
  ul
    margin: 0px
    @include responsive(small-screens)
      padding: 0
    li
      display: inline-block
      margin-right: 2.6595745%
      &:hover
        background-color: black
      @include responsive(small-screens)
        display: block
        margin-right: 1%
        text-align: center
      a
        height: 1.052em
        line-height: 1em
        text-decoration: none
        text-transform: uppercase
        font-family: Arial, "Lucida Grande", Verdana, sans-serif
        font-size: 2em
        color: white

        @include responsive(small-screens)
          font-size: 1em


#content
  width: 97.9166667%
  float: left
  margin-left: 1.1%
  margin-right: 1.1%
  img
    max-width: 100%
    @include responsive(small-screens)
      height: 8.5em

figure 
  margin: 0px
  .cover_art 
    max-width: 1390.672px
    max-height: 200%
    width: 300%
    //TODO: max-width of image

footer
  margin-left: 1.1%
  margin-right: 1.1%
  width: 97.9166667%

#fnav 
  @include responsive(small-screens)
    display: none

  padding-top: 30px
  padding-right: 1.0416667% // 10  960
  padding-left: 1.0416667% // 10  960 
  width: 97.9166667% // 940  960
  font-family: Times
  text-align: center
  clear: both
  border-top-color: #bfbfbf
  border-top-style: double
  border-top-width: 4px
  clear: both
  ul
    margin: 0
    padding: 0
    height: auto
    li
      padding: 1em 0
      margin: 0
      display: inline-block
      margin-right: 2.6595745%
    a
      font-family: Arial, "Lucida Grande", Verdana, sans-serif
      text-decoration: none
      color: black
      font-size: 0.8em
      font-style: italic
  p
    font-size: 0.7em
    text-align: center
    font-style: italic

// index
