/* line 22 */
img {
  max-width: 100%;
  max-height: 33%;
}

/* line 29 */
#wrapper {
  margin: 2em auto;
  width: 96%;
  max-width: 1414px;
  background-image: url("images/background.jpg");
}

/* line 35 */
header {
  width: 97.91667%;
  margin: 0 1.1%;
}

/* line 39 */
.logo {
  background-color: black;
  margin: 0;
  vertical-align: text-bottom;
  padding: 0.125em;
  font-size: 4em;
  color: white;
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 360px) {
  /* line 39 */
  .logo {
    font-size: 2em;
    text-align: center;
  }
}
@media print {
  /* line 39 */
  .logo {
    font-size: 1em;
  }
}

/* line 56 */
#hnav {
  padding: 0 1.04167% 0.1%;
  width: 97.91667%;
  text-align: center;
  border-bottom-color: #bfbfbf;
  border-bottom-style: double;
  border-bottom-width: 4px;
  background-color: grey;
}
@media print {
  /* line 56 */
  #hnav {
    display: none;
  }
}
/* line 67 */
#hnav ul {
  margin: 0px;
}
@media only screen and (max-width: 360px) {
  /* line 67 */
  #hnav ul {
    padding: 0;
  }
}
/* line 71 */
#hnav ul li {
  display: inline-block;
  margin-right: 2.65957%;
}
/* line 74 */
#hnav ul li:hover {
  background-color: black;
}
@media only screen and (max-width: 360px) {
  /* line 71 */
  #hnav ul li {
    display: block;
    margin-right: 1%;
    text-align: center;
  }
}
/* line 80 */
#hnav ul li a {
  height: 1.052em;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  font-size: 2em;
  color: white;
}
@media print {
  /* line 88 */
  #hnav ul li a:after {
    content: " (" attr(href) ") ";
  }
}
@media only screen and (max-width: 360px) {
  /* line 80 */
  #hnav ul li a {
    font-size: 1em;
  }
}

/* line 100 */
#content {
  background-color: white;
  width: 97.91667%;
  float: left;
  margin-left: 1.1%;
  margin-right: 1.1%;
}
/* line 107 */
#content #index_page {
  background-color: lightgrey;
}
/* line 109 */
#content #index_page figure {
  margin: 0px;
}
/* line 111 */
#content #index_page figure .cover_art {
  max-height: 10em;
  width: 100%;
}
@media only screen and (max-width: 360px) {
  /* line 111 */
  #content #index_page figure .cover_art {
    height: 8.5em;
  }
}
/* line 117 */
#content #about_page {
  padding: 1em 0 0 0;
  background-color: lightgrey;
}
/* line 120 */
#content #about_page .picture_of_drew {
  margin: 0 auto;
  display: block;
  max-width: 30%;
}
/* line 126 */
#content #about_page .about_artist {
  width: 100%;
  overflow: auto;
  margin: 0 4em;
}
@media only screen and (max-width: 360px) {
  /* line 126 */
  #content #about_page .about_artist {
    margin: 0 2em;
  }
}
/* line 133 */
#content #about_page .about_artist .column_1 {
  float: left;
  width: 30%;
}
@media only screen and (max-width: 360px) {
  /* line 133 */
  #content #about_page .about_artist .column_1 {
    display: block;
    width: 100%;
    max-width: 75%;
    word-wrap: break-word;
  }
}
/* line 141 */
#content #about_page .about_artist .column_1 .about_drew {
  text-align: center;
}
/* line 144 */
#content #about_page .about_artist .column_2 {
  float: left;
  width: 30%;
}
@media only screen and (max-width: 360px) {
  /* line 144 */
  #content #about_page .about_artist .column_2 {
    background-color: white;
    display: block;
    width: 100%;
    max-width: 75%;
    word-wrap: break-word;
  }
}
/* line 154 */
#content #about_page .about_artist .column_2 .artests_drew_studied_under {
  text-align: center;
}
/* line 156 */
#content #about_page .about_artist .column_2 .artests_drew_studied_under li {
  list-style: none;
}
/* line 158 */
#content #about_page .about_artist .column_2 .artests_drew_studied_under li a {
  text-decoration: none;
}
@media print {
  /* line 160 */
  #content #about_page .about_artist .column_2 .artests_drew_studied_under li a:after {
    font-size: 10px;
    content: " (" attr(href) ") ";
  }
}
/* line 165 */
#content #about_page .about_artist .column_3 {
  float: left;
  width: 30%;
  margin: 0 1em;
}
@media only screen and (max-width: 360px) {
  /* line 165 */
  #content #about_page .about_artist .column_3 {
    display: block;
    width: 100%;
    max-width: 75%;
    word-wrap: break-word;
  }
}
/* line 175 */
#content #about_page .about_artist .column_3 .amazing_facts_about_drew lu {
  list-style: none;
}
/* line 177 */
#content #about_page .about_artist .column_3 .amazing_facts_about_drew lu a {
  text-decoration: none;
}
/* line 182 */
#content #about_page .about_art {
  max-height: 10em;
  width: 100%;
}
/* line 186 */
#content #review_page {
  background-color: lightgrey;
  word-wrap: break-word;
}
/* line 190 */
#content #review_page .reviews {
  width: 100%;
  overflow: auto;
  margin: 0 2em;
}
/* line 194 */
#content #review_page .reviews .column {
  float: left;
  width: 28%;
  padding: 1em;
}
@media only screen and (max-width: 360px) {
  /* line 194 */
  #content #review_page .reviews .column {
    display: block;
    width: 100%;
    max-width: 75%;
    word-wrap: break-word;
  }
}
/* line 204 */
#content #review_page .review_art {
  max-height: 10em;
  width: 100%;
}
/* line 214 */
#content #purchase_page .table_box {
  background-color: grey;
  color: white;
}
/* line 217 */
#content #purchase_page .table_box .purchase_table {
  margin: 1em auto;
}
/* line 220 */
#content #purchase_page .purchase_info {
  padding: 1em;
  max-width: 40%;
  text-align: center;
  margin: 0 auto;
}
/* line 225 */
#content #purchase_page .purhcase_email {
  margin: 1em auto;
}
/* line 227 */
#content #purchase_page .purchase_art {
  max-height: 10em;
  width: 100%;
}
/* line 232 */
#content #tour_page .tour_table {
  margin: 1em auto;
}
/* line 234 */
#content #tour_page .tour_info {
  padding: 1em;
  text-align: center;
}
/* line 237 */
#content #tour_page .tour_art {
  max-height: 10em;
  width: 100%;
}
/* line 242 */
#content #gallery .gallery_select {
  text-align: center;
  background-color: black;
  padding: 1em 0 0 0;
}
/* line 247 */
#content #gallery .slider {
  background-color: black;
  padding: 4em 2em;
}
/* line 250 */
#content #gallery .slider .art_pieces {
  margin: 1em 2em;
}
/* line 252 */
#content #gallery .slider .art_pieces .art_piece {
  border-style: ridge;
  margin: 0 auto;
  width: 100%;
  display: block;
}
/* line 258 */
#content #gallery .gallery_select .radio_art {
  margin-left: 2em;
  margin-right: 2em;
}
/* line 262 */
#content #gallery .gallery_select .submit_art {
  display: block;
  margin: 1em auto 0 auto;
}
/* line 265 */
#content #gallery .gallery_select .gallery_options {
  color: white;
}
/* line 267 */
#content #gallery .gallery_select .gallery_options .gallery_option {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em auto;
}

/* line 273 */
footer {
  margin-left: 1.1%;
  margin-right: 1.1%;
  width: 97.91667%;
  clear: both;
  max-height: 20%;
  text-color: white;
  background-color: grey;
  border-top-color: #bfbfbf;
  border-top-style: double;
  border-top-width: 4px;
}
/* line 285 */
footer #fnav {
  padding: 1em auto;
  width: 97.91667%;
  text-align: center;
}
@media print {
  /* line 285 */
  footer #fnav {
    display: none;
  }
}
@media only screen and (max-width: 360px) {
  /* line 285 */
  footer #fnav {
    display: none;
  }
}
/* line 294 */
footer #fnav ul {
  margin: 0;
  padding: 0;
  height: auto;
}
/* line 298 */
footer #fnav ul li {
  padding: 1em 0;
  margin: 0;
  display: inline-block;
  margin-right: 2.65957%;
}
/* line 303 */
footer #fnav ul a {
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  text-decoration: none;
  font-size: 1em;
  font-style: italic;
}
/* line 308 */
footer .footer_text {
  margin: 0 auto;
  display: block;
  font-size: 1em;
  font-style: italic;
  text-color: black;
  padding-bottom: 1em;
  margin: 0;
  text-align: center;
  font-style: italic;
}

/* line 319 */
.hidden {
  display: none;
}

/* line 322 */
.email_box {
  display: inline;
  margin: auto;
  text-align: center;
}
/* line 328 */
.email_box .purchase_form .name {
  width: 20%;
  margin: 0.5em;
  padding: 0.5em;
  border: 0.5em solid #dadada;
  border-color: #9ecaed;
  border-radius: 3em;
}
/* line 335 */
.email_box .purchase_form .email {
  width: 20%;
  margin: 0.5em;
  padding: 0.5em;
  border: 0.5em solid #dadada;
  border-color: #9ecaed;
  border-radius: 3em;
}
/* line 342 */
.email_box .purchase_form .subject {
  width: 20%;
  margin: 0.5em;
  padding: 0.5em;
  border: 0.5em solid #dadada;
  border-color: #9ecaed;
  border-radius: 3em;
}
/* line 349 */
.email_box .purchase_form .body {
  display: block;
  width: 65%;
  height: 5em;
  margin: 0 auto;
  padding: 1em;
  border: 0.5em solid #dadada;
  border-color: #9ecaed;
  border-radius: 3em;
}
/* line 359 */
.email_box .purchase_form .submit {
  margin: 0.5em;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
/* line 376 */
.email_box .purchase_form .submit:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
