/* line 1 */
body {
  color: steelblue;
}

/* line 4 */
#banner {
  background-color: black;
}
/* line 6 */
#banner p {
  color: white;
  font-size: 90px;
  margin: 0px;
  vertical-align: text-bottom;
  padding: 2px 0px 2px 0px;
}
