{% haml %}
-extends "layout.html.haml"
-block content:
  #about_page
    %img.picture_of_drew src="{{picture_of_drew}}" alt="{{alt}}"
    %p.about_drew << {{about_drew}}
    .artests_drew_studied_under
      %ul
        -for artist, url in external_links.items():
          %li -> %a href="{{ url }}" -> {{ artist }}
    
    %img.about_art src="{{about_art}}" alt="{{alt}}"
{% endhaml %}
