%head

  %link rel="icon" type="image" href="{{ url_for('static', filename='favicon.ico') }}"

  -assets "js_all"
    %script src="{{ ASSET_URL }}" type="text/javascript"
  -assets "jquery_all"
    %script src="{{ ASSET_URL }}" type="text/javascript"
  -assets "jquery_migrate_all"
    %script src="{{ ASSET_URL }}" type="text/javascript"
  -assets "angular_all"
    %script src="{{ ASSET_URL }}" type="text/javascript"
  -assets "slick_all"
    %script src="{{ ASSET_URL }}" type="text/javascript"

  -assets "css_all"
    %link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" 
  -assets "slick_css"
    %link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"

  


  -for name, content in meta.items():
    %meta name="{{name}}" content="{{content}}"
