{% haml %}
-extends "layout.html.haml"
-block title:
  {{ title }}

-block content:
  #index_page
    {% for art in cover_art %}
      %a
        %figure
          %img.cover_art src="{{ art }}" alt="{{alt}}"
    {% endfor %}
{% endhaml %}
