{% haml %}
-extends "layout.html.haml"

-block left:
  %a
    %figure
      %img.cover_art src="{{ cover_art[0] }}"
    %figcaption << ART
-block middle:
  %a
    %figure
      %img.cover_art src="{{ cover_art[1] }}"
    %figcaption << Is
-block right:
  %a
    %figure
      %img.cover_art src="{{ cover_art[2] }}"
    %figcaption << Amazing
{% endhaml %}
