<!DOCTYPE html>
{% haml %}
%html
  %head
    %title << {{ title }}
    -assets "js_all"
      %script src="{{ ASSET_URL }}" type="text/javascript"
    -assets "css_all"
      %link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"
  %body
    #banner
      %p
        {{ banner }}

    


{% endhaml %}
