<!DOCTYPE html>
{% haml %}
%html
  %head
    %title << {{ title }}
    -assets "js_all"
      %script src="{{ ASSET_URL }}" type="text/javascript"
    -assets "css_all"
      %link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"
  %body
    #banner
      %p
        {{ banner }}
    #nav
      %ul
        -for url in internal_urls:
          %li -> %a href="{{ url }}.html.haml" -> {{ url }}
    .columns
      #left
        -block left
      #middle
        -block middle
      #right
        -block right
    #fnav
      %ul
        -for url in internal_urls:
          %li -> %a href="{{ url }}.html.haml" -> {{ url }}
      %p << {{ footer }}

{% endhaml %}
