<!DOCTYPE html>
{% haml %}
%html lang="en" data-ng-app="myApp"

  %head
    %title << {{title}}
    {{ head() }}

  %body#wrapper onload="come_alert()"
    {{ header() }}

    #content
      -block content

    {{ footer() }}

{% endhaml %}
