<!DOCTYPE html>
{% haml %}
%html lang="en" ng-app="myApp"

  {{ head() }}
    %title << {{ title }}

  %body#wrapper onload="come_alert()"
    {{ header() }}

    #content
      -block content

    {{ footer() }}

{% endhaml %}
