{% haml %}
-extends "layout.html.haml"
-block content:
  #purchase_page ng-app="myApp"
    %script
      var app = angular.
        module('myApp', []);
          app.config(['$interpolateProvider', function($interpolateProvider) {
            $interpolateProvider.startSymbol('{[');
            $interpolateProvider.endSymbol(']}');
          }]).
        controller('EmailController', ['$scope', function($scope) { 
          $scope.name = "your name";
          $scope.email = "your email";
          $scope.subject = "your subject";
          $scope.body = "enter your message here";
          $scope.sendEmail = function() {
            window.location = "mailto:drew.verlee@gmail.com?subject=" 
            + $scope.subject + "&body=" + "Email: " + $scope.email + " -- name: " +
            $scope.name + " -- message: " + $scope.body;
          };
        }]);

    %img.art src="{{art}}" 
    %p.purchase_info << {{ purchase_info }}
    %table.purchase_table
      -for size, price in purchase_table.items():
        %tr
          %td << {{size}}
          %td << {{price}}


    .email_box
      %h2.email_heading << {{ email_form_heading }}
      %form.purchase_form ng-controller="EmailController" ng-submit="sendEmail()"
        %input.name type="text"  required="required" ng-model="name"
        %input.email type="text" required="required" ng-model="email"
        %input.subject type="text" required="required" ng-model="subject"
        %textarea.body type="text" required="required" size="300"  ng-model="body"
        %input.submit type="submit"

        
    %img.purchase_art src="{{purchase_art}}" alt="{{alt}}"
{% endhaml %}
