-extends "layout.html.haml"
-block content:
  #purchase_page


    %p.purchase_info << {{ purchase_info }}
    .table_box
      %table.purchase_table
        %tr
          %th <<  {{purchase_table['thead'][0]}}
          %th << {{purchase_table['thead'][1]}}
        -for size, price in purchase_table['tbody'].items():
          %tr
            %td << {{size}}
            %td << {{price}}


    .email_box
      %h2.email_heading << {{ email_form_heading }}
      %form.purchase_form ng-controller="EmailController" ng-submit="sendEmail()"
        %input.name type="text"  required="required" ng-model="name"
        %input.email type="text" required="required" ng-model="email"
        %input.subject type="text" required="required" ng-model="subject"
        %textarea.body type="text" required="required" size="300"  ng-model="body"
        %input.submit type="submit"

        
    %img.purchase_art src="{{purchase_art}}" alt="{{alt}} : {{purchase_art}}"
