{% haml %}
-extends "layout.html.haml"
-block content:
  #purchase_page
    %img.art src="{{art}}"
    %p.purchase_info << {{ purchase_info }}
    %table.purchase_table
      -for size, price in purchase_table.items():
        %tr
          %td << {{size}}
          %td << {{price}}
    %img.purchase_art src="{{purchase_art}}" alt="{{alt}}"
{% endhaml %}
